@font-face {
    font-family: "Inria Sans";
    src: url("InriaSans/InriaSans-Regular.eot");
    src: url("InriaSans/InriaSans-Regular.eot?#iefix") format("embedded-opentype"), url("InriaSans/InriaSans-Regular.woff2") format("woff2"), url("InriaSans/InriaSans-Regular.woff") format("woff"),
        url("InriaSans/InriaSans-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inria Sans";
    src: url("InriaSans/InriaSans-Bold.eot");
    src: url("InriaSans/InriaSans-Bold.eot?#iefix") format("embedded-opentype"), url("InriaSans/InriaSans-Bold.woff2") format("woff2"), url("InriaSans/InriaSans-Bold.woff") format("woff"),
        url("InriaSans/InriaSans-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: "Inria Sans", sans-serif;
    margin: 0;
}
.p-2 {
    padding: 2rem;
}
ul {
    padding: 0;
    list-style-type: none;
}
.main li {
    margin-bottom: 0.3rem;
}
.bold {
    font-weight: bold;
}
.column {
    max-width: 400px;
    padding-right: 1rem;
}
.column > section {
    margin-bottom: 2rem;
}
.past-events, .past-events a {
    color: #999
}
.vl {
    border-left: 5px solid #9841a6;
    padding-left: .5rem;
}
.flex {
    display: flex;
}
.hor-center {
    justify-content: center;
}
.social-logo {
    height: 1rem;
    vertical-align: top;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.logo-menu {
    height: 10rem;
    margin-top: 1rem;
}
.logo {
    height: 10rem;
    margin-right: 2rem;
}
.uppercase {
    text-transform: uppercase;
}
.wrap {
    flex-wrap: wrap;
}
.purple-border {
    border: 2px solid #9841a6ff;
    padding: 0 1rem;
}
.blue {
    color: #4d55afff;
}
.purple {
    color: #9841a6ff;
}
@media (max-width: 700px) {
    .hide-mobile {
        display: none;
    }
    .menu-button {
        display: inline-block;
    }
    .anchor {
        position: relative;
        top: -45px;
    }
}
@media (min-width: 700px) {
    .menu-button {
        display: none;
    }
    .menu {
        justify-content: center;
    }
    .anchor {
        position: relative;
        top: -20px;
    }
}
.menu {
    background-color: #9841a6ff;
    padding: .7rem;
    position: sticky;
    top: 0;
}
.menu-button {
    text-decoration: none;
    border: 1.4px solid #fff;
    border-radius: 10px;
    padding: .5rem;
    margin: .5rem 0 0 2rem;
}
.purple-button {
    background-color: #9841a6ff;
    border-radius: 10px;
    padding: .8rem;
    text-align: center;
}
.purple-button a {
    color: #fff;
}
.purple-button:not(:last-child){
    margin-bottom: .5rem;
}
.menu ul {
    margin: 0;
}
.menu li:not(:last-child) {
    margin-right: 1rem;
}
.menu a {
    color: #fff;
}
.no-underline {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}
.margin-auto {
    margin: auto;
}
.flex-column {
    flex-direction: column;
}
